<?xml version="1.0"?>

<configuration>

  <system.webServer>  
    <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
    <remove statusCode="404"/>
    <error statusCode="404" responseMode="ExecuteURL" path="/404error.html" />
  </httpErrors>

  </system.webServer>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/404error.html"/>
    </customErrors>
  </system.web>

</configuration>
