<?xml version="1.0"?>

<configuration>

  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/404error.html" responseMode="File"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/404error.html"/>
    </customErrors>
  </system.web>

</configuration>
